.catalog {
    padding: 0 0 80px 0;
    .title {
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__tabs {
        margin-top: 46px;
        list-style-type: none;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tab {
        width: 200px;
        height: 50px;
        border: 2px solid #0D0D0D;
        background: white;
        margin: 0 5px;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        transform: skewX(-23deg);
        div {
            transform: skewX(23deg);
        }
        &:hover {
            border: none;
            background: $main-color;
            color: white;
        }
        
    }
}